# Postgres container + app DB connection
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=


PORT=3000
MODE=DEV

# pgAdmin web UI login (http://localhost:8083)
PGADMIN_LOGIN_EMAIL=
PGADMIN_LOGIN_PASSWORD=

# App JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d